{% include '_header_django_script.sh.j2' %}

python /home/www/platform/manage.py clearsessions

#python /home/www/platform/django-mpowering/orb/utils/ip2location.py <userid>

#python /home/www/platform/django-mpowering/orb/utils/cartodb_update.py <username> <api_key> <site_url>

#python /home/www/platform/django-mpowering/orb/utils/cartodb_countries.py <username> <api_key>

python /home/www/platform/django-mpowering/orb/utils/extract_text.py

