#!/bin/sh

DATE=`date '+%Y-%m-%d-%H-%M'`
BACKUPDIR="/home/backup/db"
BACKUPUPLOADSDIR="/home/backup/uploads"


# Backup for ORB platform 
###############################################################
/usr/bin/mysqldump -ubackup -p###### django_mpowering | gzip > $BACKUPDIR"/"$DATE-orb.gz

cd /home/www/platform/
/bin/tar -czf $BACKUPUPLOADSDIR"/"$DATE-orb-media.tar.gz media


cd $BACKUPDIR
/usr/bin/find \( -name "*-orb.gz" \) -mtime +30 -delete

cd $BACKUPUPLOADSDIR
/usr/bin/find \( -name "*-orb-media.tar.gz" \) -mtime +30 -delete


# Backup for Moodle
###############################################################
/usr/bin/mysqldump -ubackup -p###### moodle | gzip > $BACKUPDIR"/"$DATE-moodle.gz

cd /home/www/
/bin/tar -czf $BACKUPUPLOADSDIR"/"$DATE-moodle-data.tar.gz moodledata

cd $BACKUPDIR
/usr/bin/find \( -name "*-moodle.gz" \) -mtime +30 -delete

cd $BACKUPUPLOADSDIR
/usr/bin/find \( -name "*-moodle-data.tar.gz" \) -mtime +30 -delete


# Backup for OppiaMobile
###############################################################
/usr/bin/mysqldump -ubackup -p###### oppia | gzip > $BACKUPDIR"/"$DATE-oppia.gz

cd /home/www/oppia/
/bin/tar -czf $BACKUPUPLOADSDIR"/"$DATE-oppia-uploads.tar.gz upload

cd $BACKUPDIR
/usr/bin/find \( -name "*-oppia.gz" \) -mtime +30 -delete

cd $BACKUPUPLOADSDIR
/usr/bin/find \( -name "*-oppia-uploads.tar.gz" \) -mtime +30 -delete


##################################################################

cd /home/backup/
echo "backup success: "$DATE >> backup.log
