<VirtualHost *:443>
	SSLEngine On

	ServerName {{orb_server_name}}
	WSGIDaemonProcess localhost.mpower-ssl python-path=/home/www/platform/django-mpowering:/home/www/platform/env/lib/python2.7/site-packages
	WSGIProcessGroup localhost.mpower-ssl
	WSGIScriptAlias / /home/www/platform/mpower/mpower/wsgi.py
	WSGIPassAuthorization On

	<Directory /home/www/platform/>
		Require all granted
	</Directory>

	ServerAdmin webmaster@localhost
	DocumentRoot /home/www/platform/

	ErrorLog /var/log/apache2/orb-error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/orb-access.log combined

	Alias /media /home/www/platform/media/
	<Directory "/home/www/platform/media/">
		Options MultiViews FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>

	Alias /static /home/www/platform/static/
	<Directory "/home/www/platform/static/">
		Options MultiViews FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>

SSLCertificateFile /etc/letsencrypt/live/od-orb.alexlittle.net/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/od-orb.alexlittle.net/privkey.pem
Include /etc/letsencrypt/options-ssl-apache.conf

</VirtualHost>
